<template>
  <div>
    <!-- Новые -->
    <div v-show="isNew" v-for="application in data"  class="columns admin-applications">
      <div class="column">
        <div class="columns">
          <div class="column">
            <div class="is-flex">
              <span class="label mr-3">Заявка №:</span>
              <p>{{ application.id }}</p>
            </div>
            <div class="is-flex">
              <span class="label mr-3">ФИО:</span>
              <p>{{ application.fio }}</p>
            </div>
            <div class="is-flex">
              <span class="label mr-3">Прикрепленный файл:</span>
            </div>
            <div v-if="application.picture">
              <a :href="`https://signal24.kz/${application.picture}`" target="_blank">{{ application.picture }}</a>
              <p @click="downloadFile(application.picture)" style="text-decoration: underline; cursor: pointer">Скачать файл</p>
            </div>
            <p v-else>
              Файла нету
            </p>
          </div>
          <div class="column">
            <div class="is-flex">
              <span class="label mr-3"> Адрес:</span>
              <p>{{ application.region.title }} {{ $t("region").toLocaleLowerCase() }}, {{ application.address }}</p>
            </div>
            <div class="is-flex">
              <span class="label mr-3">Название юр. лица или ИП:</span>
              <p>{{ application.entity_title }}</p>
            </div>
          </div>
          <div class="column">
            <div class="is-flex">
              <span class="label mr-3">Дата:</span>
              <p>{{ application.timestamp?.substring(0,19) }}</p>
            </div>
            <div class="is-flex">
              <span class="label mr-3">Номер телефона:</span>
              <p>{{ application.mobile_phone }}</p>
            </div>
            <div>
              <span class="tag is-primary"> {{ application.status }} </span>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column admin-buttons">
            <div class="control admin-button">
              <button class="button" @click="$emit('descriptionVisibility', application.id)">
                Подробнее
              </button>
            </div>
            <div @click="updateApplication(application.id, 'В работе')" class="control admin-button">
              <button class="button is-link">В работу</button>
            </div>
          </div>
        </div>
        <div v-show="application.show" class="columns">
          <div class="column">
            <div class="notification">
              <button class="delete" @click="$emit('descriptionVisibility', application.id)"></button>
              {{ application.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-show="isProgress" v-for="application in data"  class="columns admin-applications">
      <div class="column">
        <div class="columns">
          <div class="column">
            <div class="is-flex">
              <span class="label mr-3">Заявка №:</span>
              <p>{{ application.id }}</p>
            </div>
            <div class="is-flex">
              <span class="label mr-3">ФИО:</span>
              <p>{{ application.fio }}</p>
            </div>
          </div>
          <div class="column">
            <div class="is-flex">
              <span class="label mr-3">Адрес:</span>
              <p>{{ application.region.title }} район, {{ application.address }}</p>
            </div>
            <div class="is-flex">
              <span class="label mr-3">Название юр. лица или ИП:</span>
              <p>{{ application.entity_title }}</p>
            </div>
          </div>
          <div class="column">
            <div class="is-flex">
              <span class="label mr-3">Дата:</span>
              <p>{{ application.timestamp?.substring(0,19) }}</p>
            </div>
            <div class="is-flex">
              <span class="label mr-3">Номер телефона:</span>
              <p>{{ application.mobile_phone }}</p>
            </div>
            <div>
              <span class="tag is-link"> {{ application.status }} </span>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column admin-buttons">
            <div class="control admin-button">
              <button class="button" @click="$emit('descriptionVisibility', application.id)">
                Подробнее
              </button>
            </div>
            <div @click="updateApplication(application.id, 'Разъяснено')" class="control admin-button">
              <button class="button is-info">Разъяснено</button>
            </div>
            <div @click="updateApplication(application.id, 'Удовлетворено')" class="control admin-button">
              <button class="button is-success">Удовлетворено</button>
            </div>
            <div @click="updateApplication(application.id, 'Ложный вызов')" class="control admin-button">
              <button class="button is-warning">Ложный вызов</button>
            </div>
          </div>
        </div>
        <div v-show="application.show" class="columns">
          <div class="column">
            <div class="notification">
              <button class="delete" @click="$emit('descriptionVisibility', application.id)"></button>
              {{ application.description }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-show="isDone" v-for="application in data"  class="columns admin-applications">
      <div class="column">
        <div class="columns">
          <div class="column">
            <div class="is-flex">
              <span class="label mr-3">Заявка №:</span>
              <p>{{ application.id }}</p>
            </div>
            <div class="is-flex">
              <span class="label mr-3">ФИО:</span>
              <p>{{ application.fio }}</p>
            </div>
          </div>
          <div class="column">
            <div class="is-flex">
              <span class="label mr-3">Адрес:</span>
              <p>{{ application.region.title }} район, {{ application.address }}</p>
            </div>
            <div class="is-flex">
              <span class="label mr-3">Название юр. лица или ИП:</span>
              <p>{{ application.entity_title }}</p>
            </div>
          </div>
          <div class="column">
            <div class="is-flex">
              <span class="label mr-3">Дата:</span>
              <p>{{ application.timestamp?.substring(0,19) }}</p>
            </div>
            <div class="is-flex">
              <span class="label mr-3">Номер телефона:</span>
              <p>{{ application.mobile_phone }}</p>
            </div>
            <div>
              <span v-if="application.status === 'Разъяснено'" class="tag is-info"> {{ application.status }} </span>
              <span v-else-if="application.status === 'Удовлетворено'" class="tag is-success"> {{ application.status }} </span>
              <span v-else-if="application.status === 'Ложный вызов'" class="tag is-warning"> {{ application.status }} </span>

            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column admin-buttons">
            <div class="control admin-button">
              <button class="button" @click="$emit('descriptionVisibility', application.id)">
                Подробнее
              </button>
            </div>
<!--            <div class="control admin-button">-->
<!--              <button class="button is-link">В работу</button>-->
<!--            </div>-->
          </div>
        </div>
        <div v-show="application.show" class="columns">
          <div class="column">
            <div class="notification">
              <button class="delete" @click="$emit('descriptionVisibility', application.id)"></button>
              {{ application.description }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" :class="{'is-active': detail}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Уведомление</p>
          <button @click="closeModal" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          {{ detail }}
        </section>
        <footer class="modal-card-foot">
          <button @click="closeModal" class="button is-success">Ок</button>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isNew: Boolean,
    isProgress: Boolean,
    isDone: Boolean,
    isVisibleDescription: Boolean,
    data: Array
  },
  data() {
    return {
      detail: null,
    }
  },
  methods: {
    downloadFile(url) {
      this.$axios.get("https://signal24.kz/"+url, { responseType: 'blob' })
        .then(response => {
          const blob = new Blob([response.data])
          const link = document.createElement('a')
          link.href = URL.createObjectURL(blob)
          link.download = url
          link.click()
          URL.revokeObjectURL(link.href)
        }).catch(console.error)
    },
    updateApplication(id, status) {
      this.$axios.patch(`/api/claim/${id}/`, {
        status
      }, {
        headers: {
          Authorization: `Bearer ${localStorage.getItem('token')}`
        }
      }).then(response => {
        this.detail = response.data.detail
        if(this.isNew) {
          this.$emit('updateSuccess', 'isNew')
        }
        else if (this.isProgress) {
          this.$emit('updateSuccess', 'isProgress')
        }
        else {
          this.$emit('updateSuccess', 'isDone')
        }
      })
    },
    closeModal() {
      this.detail = null
    }
  }
};
</script>

<style></style>
