

<template>
  <div class="language">
    <div class="language__container">
      <div @click="changeLanguage('kz')" class="language__lang" :class="{active: this.$i18n.locale === 'kz'}">
        KZ
      </div>
      <div @click="changeLanguage('ru')" class="language__lang" :class="{active: this.$i18n.locale === 'ru'}">
        RU
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    if (localStorage.getItem("language")) {
      this.$i18n.locale = localStorage.getItem("language")
    } else {
      localStorage.setItem("language", "ru")
    }
  },
  methods: {
    changeLanguage(language) {
      localStorage.setItem("language", language);
      this.$i18n.locale = language;
    }
  }
}
</script>

<style lang="scss" scoped>
.language {
  margin-top: 40px;
  .language__container {
    display: flex;
    align-items: center;
    justify-content: center;
    .language__lang {
      border: 1px solid #07365c;
      padding: 10px 30px;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right-width: 0.5px;
      }
      &:last-child {
        margin-right: 0;
        border-left-width: 0.5px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
    .active {
      background-color: #07365c;
      color: #fff;
    }
  }
}
</style>
