<template>
  <div class="columns admin-tabs">
    <div class="column">
      <div class="tabs is-centered">
        <ul>
          <li
            :class="isNew ? 'is-active' : ''"
            @click="$emit('tabsChange', 'new')"
          >
            <a>Новые</a>
          </li>
          <li
            :class="isProgress ? 'is-active' : ''"
            @click="$emit('tabsChange', 'progress')"
          >
            <a>В работе</a>
          </li>
          <li
            :class="isDone ? 'is-active' : ''"
            @click="$emit('tabsChange', 'done')"
          >
            <a>Завершенные</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isNew: Boolean,
    isProgress: Boolean,
    isDone: Boolean,
  },
};
</script>

<style></style>
