@import "~bulma";
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.img-size {
  width: 152px;
  height: 152px;
}

.img-size__small {
  width: 70px;
  height: 70px;
}

.greeting-text {
  font-size: 18px;
  font-weight: 700;

  color: #07365c;
}

.subtext {
  color: #07365c;
}

.admin-filter {
  padding: 20px;
  margin: 50px;

  border: 1px solid #e8e8e8;
  border-radius: 8px;
}

.admin-filter__header {
  margin-bottom: 20px;

  h1 {
    font-size: 25px;
    font-weight: 700;
  }
}

.admin-filter__content {
  display: flex;

  .admin-filter__item {
    width: 40%;

    /* Отступ вправо для первого элемента */
    &:first-child {
      margin-right: 15px;
    }
  }
}

/* position bottom */
.column-container {
  position: relative;
}
.bottom-img {
  position: fixed;
  bottom: 0px;
  
  .img-size {
    width: 50px;
    height: 50px;
  }
}

.admin-tabs {
  margin: 0px 50px 0 50px;
}

.admin-applications {
  padding: 20px;
  margin: 0px 50px 0px 50px;

  border: 1px solid #e8e8e8;
  border-radius: 8px;
}

.admin-buttons {
  display: flex;

  .admin-button {
    margin-right: 15px;
  }
}


/* Mobile стили */
@media (max-width: 768px) {
  .admin-filter__content {
    display: flex;
    flex-direction: column;

    .admin-filter__item {
      width: 100%;
    }
  }

  .admin-buttons {
    display: flex;
    flex-direction: column;
    
    .admin-button {
      width: 100%;
      margin-bottom: 15px;
      
      button {
        width: 100%;
      }
    }
  }
}
