<template>
  <div class="container">
    <div v-if="!token && !loading" class="columns admin-filter">
      <div class="column">
        <div class="admin-filter__header">
          <h1>Авторизация</h1>
        </div>
        <form class="admin-filter__content is-flex is-flex-direction-column">
          <div class="admin-filter__item field">
            <label class="label">Логин</label>
            <div class="control">
              <input v-model="authForm.email" type="email" class="input" placeholder="Логин"/>
            </div>
          </div>
          <div class="admin-filter__item field">
            <label class="label">Пароль</label>
            <div class="control">
              <input v-model="authForm.password" type="password" class="input" placeholder="Пароль"/>
            </div>
          </div>
          <div class="admin-filter__item field mt-3">
            <button @click.prevent="signIn" class="button is-success">Вход</button>
          </div>
        </form>
      </div>
    </div>

    <span v-if="token">
    <!-- Фильтр -->
    <div class="columns admin-filter">
      <div class="column">
        <div class="admin-filter__header">
          <h1>Фильтр</h1>
        </div>
        <div class="admin-filter__content">
          <div class="admin-filter__item field">
            <label class="label"> Номер заявки </label>
            <div class="control is-flex">
              <input v-model="id" type="text" class="input mr-2" placeholder="39205123958"/>
              <button class="button is-success" @click="searchApplicationById(id)">
                Поиск
              </button>
            </div>
          </div>
          <div class="admin-filter__item field">
            <label class="label"> Район </label>
            <div class="control">
              <div class="select is-fullwidth">
                <select v-if="districts" v-model="region">
                  <option v-for="(district) in districts" v-if="district" :key="districts.id" :value="district.id">
                    {{ district.title }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Табы -->
    <tabs
      :isNew="isNew"
      :isProgress="isProgress"
      :isDone="isDone"
      @tabsChange="tabsChange"
    />

      <!-- Заявления -->
    <applications
      :data="applicationsData"
      :isNew="isNew"
      :isProgress="isProgress"
      :isDone="isDone"
      :isVisibleDescription="isVisibleDescription"
      @updateSuccess="updateSuccess"
      @descriptionVisibility="descriptionVisibility"
    />
    </span>
    <div v-if="token" class="columns admin-applications">
      <button @click="logOut" class="button is-danger">{{ $t("exit") }}</button>
    </div>
    <div class="modal" :class="{'is-active': detail}">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ $t("notification") }}</p>
          <button @click="closeModal" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          {{ detail }}
        </section>
        <footer class="modal-card-foot">
          <button @click="closeModal" class="button is-success">Ок</button>
        </footer>
      </div>
    </div>

  </div>
</template>

<script>
/* Список районов */
import Tabs from "@/components/Tabs";
import Applications from "@/components/Applications";

export default {
  components: {
    Tabs,
    Applications,
  },
  data() {
    return {
      authForm: {
        email: "",
        password: ""
      },
      id: "",
      region: "",
      loading: false,
      token: null,

      isNew: true,
      isProgress: false,
      isDone: false,
      isSearch: false,

      isVisibleDescription: false,
      districts: [],
      applicationsData: [],
      detail: null
    };
  },
  created() {
    this.loading = true
  },
  mounted() {
    if (localStorage.getItem("language")) {
      this.$i18n.locale = localStorage.getItem("language")
    } else {
      localStorage.setItem("language", "ru")
    }
    console.log(this.$i18n.locale)
    if (localStorage.getItem('token')) {
      this.token = localStorage.getItem('token')
      this.fetchApplications()
      this.fetchRegions()
    }
    this.loading = false
  },
  methods: {
    closeModal() {
      this.detail = null
    },
    fetchRegions() {
      // const path = this.$i18n.locale === "kz" ? "/kz/api/region/" : "/api/region/"
      this.$axios.get("/api/region/").then(res => {
        this.districts = res.data
      })
    },
    searchApplicationById(id) {
      if (id) {
        const path = this.$i18n.locale === "kz" ? "/kz/api/claim/search/" : "/api/claim/search/"
        this.$axios.post("/api/claim/search/", {
          id
        }, {
          headers: {
            'Authorization': `Bearer ${this.token}`
          }
        }).then(response => {
          this.isSearch = true;
          if (!response.data.detail) {
            if (response.data.status === 'Новая') {
              this.isNew = true;
              this.isProgress = false;
              this.isDone = false;
            } else if (response.data.status === 'В работе') {
              this.isNew = false;
              this.isProgress = true;
              this.isDone = false;
            } else {
              this.isNew = false;
              this.isProgress = false;
              this.isDone = true;
            }
            response.data.show = false
            this.applicationsData = [response.data]
          } else {
            this.detail = response.data.detail
          }
        })
      } else {
        if (this.isNew) {
          this.fetchApplications("Новая")
        } else if (this.isProgress) {
          this.fetchApplications("В работе")
        } else {
          this.fetchApplications("Разъяснено, Удовлетворено, Ложный вызов")
        }

      }
    },
    searchApplication(region, status) {
      if (region && status) {
        // const path = this.$i18n.locale === "kz" ? `/kz/api/claim/?region=${region}&status=${status}` : `/api/claim/?region=${region}&status=${status}`
        this.$axios.get(`/api/claim/?region=${region}&status=${status}`, {
          headers: {
            'Authorization': `Bearer ${this.token}`
          }
        }).then(response => {
          this.isSearch = true;
          if (!response.data.detail) {
            if (status === 'Новая') {
              this.isNew = true;
              this.isProgress = false;
              this.isDone = false;
            } else if (status === 'В работе') {
              this.isNew = false;
              this.isProgress = true;
              this.isDone = false;
            } else {
              this.isNew = false;
              this.isProgress = false;
              this.isDone = true;
            }
            for (let i = 0; i < response.data.length; i++) {
              response.data[i].show = false
            }
            this.applicationsData = response.data
          } else {
            this.detail = response.data.detail
          }
        })
      }

    },
    updateSuccess(status) {
      if (status === 'isNew') {
        this.fetchApplications('Новая')
      } else if (status === 'isProgress') {
        this.fetchApplications('В работе')
      } else {
        this.fetchApplications('Разъяснено, Удовлетворено, Ложный вызов')
      }
    },
    signIn() {
      // const path = this.$i18n.locale === "kz" ? "/kz/api/token/" : "/api/token/"
      this.$axios.post("/api/token/", this.authForm).then(response => {
        localStorage.setItem('token', response.data.access)
        this.token = response.data.access
      })
    },
    tabsChange(name) {
      this.isSearch = false;
      switch (name) {
        case "new":
          this.isNew = true;
          this.isProgress = false;
          this.isDone = false;
          break;
        case "progress":
          this.isProgress = true;
          this.isNew = false;
          this.isDone = false;
          break;
        case "done":
          this.isDone = true;
          this.isNew = false;
          this.isProgress = false;
          break;
      }
    },
    descriptionVisibility(id) {
      for (let i = 0; i < this.applicationsData.length; i++) {
        if (this.applicationsData[i].id === id) {
          if (!this.applicationsData[i].show) {
            this.applicationsData[i].show = true
          } else {
            this.applicationsData[i].show = false
          }
        }
      }
    },
    fetchApplications(status = 'Новая') {
      // const path = this.$i18n.locale === "kz" ? `/kz/api/claim/?status=${status}` : `/api/claim/?status=${status}`
      this.$axios.get(`/api/claim/?status=${status}`, {
        headers: {
          'Authorization': `Bearer ${this.token}`
        }
      }).then(res => {
        for (let i = 0; i < res.data.length; i++) {
          res.data[i].show = false
        }
        this.applicationsData = res.data
      }).catch(() => {
        this.logOut()
      })
    },
    logOut() {
      this.token = null
      localStorage.clear();
    }
  },
  watch: {
    isNew() {
      if (this.isNew && !this.isSearch) {
        this.fetchApplications('Новая')
      }
    },
    isProgress() {
      if (this.isProgress && !this.isSearch) {
        this.fetchApplications('В работе')
      }
    },
    isDone() {
      if (this.isDone && !this.isSearch) {
        this.fetchApplications('Разъяснено, Удовлетворено, Ложный вызов')
      }
    },
    region() {
      if (this.region) {
        if (this.isNew) {
          this.searchApplication(this.region, "Новая")
        } else if (this.isProgress) {
          this.searchApplication(this.region, "В работе")
        } else {
          this.searchApplication(this.region, "Разъяснено, Удовлетворено, Ложный вызов")
        }
      }
    }
  }
};
</script>

<style></style>
