<template>
  <div class="container">
    <Language />
    <div class="columns" style="padding-top: 50px; margin: 0">
      <div
        class="column is-flex is-flex-direction-column is-align-items-center column-container"
      >
        <div class="mb-4">
          <img src="@/static/images/gerb.png" alt="gerb" class="img-size" />
        </div>
        <div class="mb-4">
          <p v-html="$t('welcome')" class="has-text-centered greeting-text"></p>
        </div>
        <div class="mb-4">
          <p v-html="$t('welcomeFrom')" class="has-text-centered subtext"></p>
        </div>
        <div
          class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center"
        >
          <button class="button is-success" @click="openApplication">
            {{ $t("signalBtnText") }}
          </button>
          <div
            class="greeting-text is-flex is-justify-content-center"
            style="
              font-size: 16px;
              text-decoration: underline;
              margin-top: 20px;
              cursor: pointer;
            "
            @click="openCheckModal"
          >
            <p>{{ $t("checkLastSignal") }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" :class="{ 'is-active': showCheckModal }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ $t("enterPhoneNumber") }}</p>
          <button
            @click="closeModal"
            class="delete"
            aria-label="close"
          ></button>
        </header>
        <section class="modal-card-body">
          <div class="control">
            <input
              v-model="maskedPhoneNumber"
              class="input"
              type="text"
              v-mask="'+7(###) ###-##-##'"
              placeholder="+7-700-000-00-00"
            />
          </div>
          <!-- Content ... -->
          <div class="has-text-success mt-3" v-for="signal in statusInfo">
            Номер заявки: {{ signal.id }}. Статус: {{ signal.status }}
          </div>
        </section>
        <footer class="modal-card-foot">
          <button @click="searchSignalByPhone" class="button is-success">
            Поиск
          </button>
          <button @click="closeModal" class="button">Закрыть</button>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
import Language from "../components/Language";
export default {
  name: "IndexPage",
  components: { Language },
  data() {
    return {
      showCheckModal: false,
      phoneNumber: "",
      statusInfo: "",
    };
  },
  mounted() {
    console.log(localStorage.getItem("language"));
    if (localStorage.getItem("language")) {
      this.$i18n.locale = localStorage.getItem("language");
    } else {
      localStorage.setItem("language", "ru");
    }
  },
  methods: {
    searchSignalByPhone() {
      const path =
        this.$i18n.locale === "kz"
          ? "/kz/api/claim/mobile/"
          : "/api/claim/mobile/";
      this.$axios
        .post(path, {
          mobile_phone: this.phoneNumber,
        })
        .then((res) => {
          this.statusInfo = res.data;
        });
    },
    openApplication() {
      this.$router.push({ path: "/my-application" });
    },
    openCheckModal() {
      this.showCheckModal = true;
    },
    closeModal() {
      this.phoneNumber = "";
      this.statusInfo = "";
      this.showCheckModal = false;
    },
  },
  computed: {
    maskedPhoneNumber: {
      get() {
        // return the phone number with the mask applied
        return this.phoneNumber;
      },
      set(value) {
        // remove all non-numeric characters from the phone number
        this.phoneNumber = "+" + value.replace(/\D+/g, "");
      },
    },
  },
};
</script>

<style lang="scss"></style>
