<template>
  <div class="container">
    <div class="columns" style="padding-top: 30px">
      <div class="column is-flex is-justify-content-center">
        <img
          class="img-size__small mr-1"
          src="@/static/images/gerb.png"
          alt="gerb"
        />
        <img
          class="img-size__small"
          src="@/static/images/atameken-logo.png"
          alt="atameken"
        />
      </div>
    </div>
    <div class="column is-flex is-justify-content-center">
      <h1 style="font-weight: bold; font-size: 26px">{{ $t("formTitle") }}</h1>
    </div>
    <div class="columns" style="padding: 50px 50px 10px 50px">
      <div class="column">
        <div class="field">
          <div class="field__header is-flex is-justify-content-space-between">
            <label class="label">{{ $t("fio") }}</label>
            <p v-if="errors.fio" class="has-text-danger">
              {{ $t("requiredField") }}
            </p>
          </div>

          <div class="control">
            <input
              v-model="form.fio"
              class="input"
              :class="{ 'input is-danger': errors.fio }"
              type="text"
              placeholder="Сакенов Сакен Сакенович"
            />
          </div>
        </div>

        <div class="field">
          <div class="field__header is-flex is-justify-content-space-between">
            <label class="label">{{ $t("contactNumber") }}</label>
            <p v-if="errors.mobile_phone" class="has-text-danger">
              {{ $t("requiredField") }}
            </p>
          </div>
          <div class="control">
            <input
              v-model="maskedPhoneNumber"
              class="input"
              :class="{ 'input is-danger': errors.mobile_phone }"
              type="text"
              v-mask="'+7(###) ###-##-##'"
              placeholder="+7-700-000-00-00"
            />
          </div>
        </div>

        <div class="field">
          <div class="field__header is-flex is-justify-content-space-between">
            <label class="label">{{ $t("address") }}</label>
            <p v-if="errors.address" class="has-text-danger">
              {{ $t("requiredField") }}
            </p>
            <p v-else class="has-text-grey" style="font-size: 14px">
              {{ 500 - form.address.length }} {{ $t("symbols") }}
            </p>
          </div>
          <div class="control">
            <input
              v-model="form.address"
              class="input"
              :class="{ 'input is-danger': errors.address }"
              type="text"
              maxlength="500"
              :placeholder="$t('exampleAddress')"
            />
          </div>
        </div>

        <div class="field">
          <div class="field__header is-flex is-justify-content-space-between">
            <label class="label">{{ $t("file") }}</label>
          </div>
          <div id="file-id" class="file has-name is-fullwidth">
            <label class="file-label">
              <input
                class="file-input"
                type="file"
                name="resume"
                @change="selectFile"
              />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label"> {{ $t("selectFile") }} </span>
              </span>
              <span class="file-name"> {{ $t("unselectedFile") }} </span>
            </label>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="field">
          <div class="field__header is-flex is-justify-content-space-between">
            <label class="label">{{ $t("businessName") }}</label>
            <p v-if="errors.entity_title" class="has-text-danger">
              {{ $t("requiredField") }}
            </p>
            <p v-else class="has-text-grey" style="font-size: 14px">
              {{ 500 - form.entity_title.length }} {{ $t("symbols") }}
            </p>
          </div>
          <div class="control">
            <input
              v-model="form.entity_title"
              class="input"
              :class="{ 'input is-danger': errors.entity_title }"
              type="text"
              maxlength="500"
              :placeholder="$t('enterBusinessName')"
            />
          </div>
        </div>

        <div class="field">
          <div class="field__header is-flex is-justify-content-space-between">
            <label class="label">{{ $t("region") }}</label>
            <p v-if="errors.region" class="has-text-danger">
              {{ $t("requiredField") }}
            </p>
          </div>
          <div class="control">
            <div class="select is-fullwidth">
              <select
                :class="{ 'input is-danger': errors.region }"
                v-model="form.region"
                name="id"
              >
                <option
                  v-for="district in districts"
                  :key="districts.id"
                  :value="district.id"
                >
                  {{ district.title }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <div class="field__header is-flex is-justify-content-space-between">
            <label class="label">{{ $t("problem") }}</label>
            <p v-if="errors.description" class="has-text-danger">
              {{ $t("requiredField") }}
            </p>
            <p v-else class="has-text-grey" style="font-size: 14px">
              {{ 500 - form.description.length }} {{ $t("symbols") }}
            </p>
          </div>
          <div class="control">
            <textarea
              v-model="form.description"
              :class="{ 'input is-danger': errors.description }"
              class="textarea"
              maxlength="500"
              :placeholder="$t('describeProblem')"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="columns" style="padding: 0px 50px 50px 50px">
      <div class="column">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input v-model="isAgree" type="checkbox" />
              {{ $t("agreement") }}
            </label>
          </div>
        </div>

        <div class="field is-grouped">
          <div @click="createApplication" class="control">
            <button class="button is-link" :disabled="!isAgree">
              {{ $t("sendSignal") }}
            </button>
          </div>
          <div class="control">
            <button class="button is-link is-light" @click="onBack">
              {{ $t("cancel") }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal" :class="{ 'is-active': detail }">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ $t("notification") }}</p>
          <button @click="redirect" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
          {{ detail }}
        </section>
        <footer class="modal-card-foot">
          <button @click="redirect" class="button is-success">
            {{ $t("close") }}
          </button>
        </footer>
      </div>
    </div>
  </div>
</template>

<script>
/* Список районов */

export default {
  data() {
    return {
      districts: [],
      isAgree: false,
      form: {
        fio: "",
        mobile_phone: "",
        address: "",
        region: null,
        entity_title: "",
        description: "",
        picture: null,
      },
      errors: {
        fio: false,
        mobile_phone: false,
        address: false,
        region: false,
        entity_title: false,
        description: false,
        picture: false,
      },
      detail: null,
    };
  },
  mounted() {
    if (localStorage.getItem("language")) {
      this.$i18n.locale = localStorage.getItem("language");
    } else {
      localStorage.setItem("language", "ru");
    }
    console.log(this.$i18n.locale);
    this.fetchRegions();
  },
  methods: {
    redirect() {
      this.$router.push("/");
    },
    closeModal() {
      this.detail = null;
      this.isAgree = false;
      this.form = {
        fio: "",
        mobile_phone: "",
        address: "",
        region: null,
        entity_title: "",
        description: "",
        picture: null,
      };
    },
    /* fetch regions */
    fetchRegions() {
      this.$axios.get("/api/region/").then((res) => {
        this.districts = res.data;
      });
    },
    checkForms() {
      let isError = false;
      if (!this.form.fio.replace(/\s/g, "")) {
        isError = true;
        this.errors.fio = true;
      } else {
        this.errors.fio = false;
      }

      if (!this.form.region) {
        isError = true;
        this.errors.region = true;
      } else {
        this.errors.region = false;
      }

      if (!this.form.mobile_phone.replace(/\s/g, "")) {
        isError = true;
        this.errors.mobile_phone = true;
      } else {
        this.errors.mobile_phone = false;
      }

      if (!this.form.address.replace(/\s/g, "")) {
        isError = true;
        this.errors.address = true;
      } else {
        this.errors.address = false;
      }

      if (!this.form.description.replace(/\s/g, "")) {
        isError = true;
        this.errors.description = true;
      } else {
        this.errors.description = false;
      }

      // if (!this.form.picture) {
      //   isError = true;
      //   this.errors.picture = true;
      // } else {
      //   this.errors.picture = false;
      // }
      return isError;
    },
    createApplication() {
      if (!this.checkForms()) {
        const formData = new FormData();
        formData.append("fio", this.form.fio);
        formData.append("mobile_phone", this.form.mobile_phone);
        formData.append("address", this.form.address);
        formData.append("region", this.form.region);
        formData.append("description", this.form.description);
        if (this.form.picture) {
          formData.append("picture", this.form.picture);
        }

        const path =
          this.$i18n.locale === "kz" ? "/kz/api/claim/" : "/api/claim/";
        this.$axios.post(path, formData).then((res) => {
          this.detail = res.data.detail;
        });
      }
    },

    /* button back */
    onBack() {
      this.$router.push({ name: "index", path: "/" });
    },
    /* change file name */
    selectFile() {
      const fileInput = document.querySelector("#file-id input[type=file]");
      if (fileInput.files.length > 0) {
        this.form.picture = fileInput.files[0];
        const fileName = document.querySelector("#file-id .file-name");
        fileName.textContent = fileInput.files[0].name;
      }
    },
  },
  computed: {
    maskedPhoneNumber: {
      get() {
        // return the phone number with the mask applied
        return this.form.mobile_phone;
      },
      set(value) {
        // remove all non-numeric characters from the phone number
        this.form.mobile_phone = "+" + value.replace(/\D+/g, "");
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.field__header {
  display: flex;
  justify-content: space-between;
}
</style>
